@{
    var pages = new List<(string title, string link)>
    {
        ("Blog", Context.GetLink("blog")),
        ("Documentation", Context.GetLink("docs")),
        ("API", Context.GetLink("api")),
        ("Conventions", Context.GetLink("conventions")),
        ("Packages", Context.GetLink("packages")),
        ("FAQ", Context.GetLink("faq"))
    };
    foreach(var page in pages)
    {
        string active = Context.GetLink(Document).StartsWith(page.link) ? "active" : null;
        <li class="@active"><a href="@(page.link)">@Html.Raw(page.title)</a></li>
    }
}
