Title: Home
NoSidebar: true
NoTitle: true
---
<img class="rocket-surgeon" src="@Context.GetLink("/assets/img/rocketsurgeon.png")" alt="Rocket Surgeon Logo">
<blockquote class="blockquote-reverse">
    <p>It’s not rocket surgery!</p>
    <footer>Said by <cite title="Source Title">Developers Everywhere</cite></footer>

</blockquote>

<h2 class="text-center">
    Welcome to the Rocket Surgeons Guild!
</h2>
<p>
    There may be no such thing as a Rocket Surgeon, but just Brain Surgeons and Rocket
    Scientist our goal here at the Rocket Surgeons Guild is to make your life as a
    Developer eaasier, while staying out of you way as much as possible.
</p>
<p>
    Our goal is to help get you up and running with a common set tools in an opinonated way
    but also to make sure there is enough flexibility so that our decisions do not cause you
    problems down the line.
</p>
