.sidebar-menu li.selected {
  background-color: #85b1c6;
}
.rocket-surgeon {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .rocket-surgeon {
    float: left;
    width: 50%;
  }
}
@media (min-width: 992px) {
  .rocket-surgeon {
    float: left;
    width: 33.333333333%;
  }
}
@media (min-width: 1200px) {
  .rocket-surgeon {
    float: left;
    width: 33.333333333%;
  }
}
